.card__caption {
    outline: 1px red solid;
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
    max-width: 246px;
    background-color: #fff;
    color: #000;
}